<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% if (locals.errors) { %>
        <ul>
            <% Object.values(errors).forEach(function(error){ %>
                  <li><%= error.msg %></li>
            <% }); %>
        </ul>
        <% } %>
    <form class="form-group" method="post" action="/form">
      <label for="">Name:</label>
      <input type="text" name="name" value="">
      <label for="">email:</label>
      <input type="email" name="email" value="">
      <label for="">Password:</label>
      <input type="password" name="password" value="">
      <input type="submit" value="Submit">
  </form>
    <a href="/auth/logout">Log out</a>
    </body>
</html>