<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <div class="container">
                <%= error %>
            </div>
        </div>
    <% } %>

    <form method="post">
        <div>
        <label>Username:</label>
        <input type="text" name="username"/><br/>
        </div>
        <div>
        <label>Password:</label>
        <input type="password" name="password"/>
        </div>
        <div>
        <button type="submit" formaction="/auth/login">Local Auth</button>
        <button type="submit" formaction="/auth/dblogin">DB Auth (WIP -Need to add DB logic)</button>
        </div>
    </form>
  </body>
</html>